.float-button {
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 0 !important;
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-radius: 50%;
}
.i-user {
  top: 10px;
  right: 1.5rem;
}

.feedback-toast {
  right: 1rem;
  top: 50px;
  z-index: 99999;
}

.icon-delete:hover {
  color: brown;
}

.icon-edit:hover {
  color: yellowgreen;
}
.bi-clipboard2:hover,
.bi-clipboard2-check:hover {
  color: white;
}
.icon {
  color: #ffffff50;
}
.note {
  word-break: break-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0 20px;
}

.content-buttons {
  display: flex;
  flex-direction: row;
}

.line-through {
  text-decoration: line-through;
}
.eye {
  position: absolute;
  top: 5px;
  right: 10px;
  text-align: center;
  cursor: pointer;
}
.bg-loader {
  display: none !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #00000095;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}
.loader {
  display: block;
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 50px;
  width: 50px;
}

body {
  display: block;
  width: 100vw;
  height: 100vh;
}
.gradient-custom,
.btn-gradient:hover {
  background: linear-gradient(45deg, #5e2d91, #6a11cb, #2575fc, #1055cc);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@media (min-width: 450px) {
  .float-button {
    bottom: 3rem;
    right: 3rem;
  }
  .i-user {
    right: 3rem;
  }
}

@media (max-width: 500px) {
  .content-buttons {
    flex-direction: column;
    padding: 0;
  }
}
